<aside class="admin-sidebar">
    <h3>Admin Portal</h3>
    <ul>
      <li class="active">
        <span [routerLink]="['/admin-dashboard']" style="cursor: pointer;">Dashboard</span>
      </li>
      <li>
        <span [routerLink]="['/user-management']" style="cursor: pointer;">Users</span>
      </li>
      <li>
        <span [routerLink]="['/security']" style="cursor: pointer;">Security</span>
      </li>
      <li>
        <span [routerLink]="['/ai-monitoring']" style="cursor: pointer;">AI Monitoring</span>
      </li>
      <li>
        <span [routerLink]="['/performance']" style="cursor: pointer;">Performance</span>
      </li>
    </ul>
  </aside>
  